@import url('imports/reset.css');
@import url('imports/fonts.css');

*{
  box-sizing: border-box;
}
.main-wrapper{
  background-color: #f1f3f2;
}
.main-header{
  width: 100%;
  height: 60px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.25);
}
.main-header > .main-logo,
.main-header > .main-logo img{
  width: 110px;
  height: auto;
}
.main-header > .main-nav ul,
.main-header > .main-profile{
  display: flex;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #044d7f;
}
.main-header > .main-nav ul a{
  text-decoration: none;
  color: inherit;
  padding: 20px;
}
.main-header > .main-nav ul .a-active{
  text-decoration: underline;
  pointer-events: none;
}
.main-header > .main-nav ul a:hover,
.main-header > .main-profile:hover{
  filter: opacity(.5);
}
.main-header > .main-profile{
  text-decoration: none;
  font-weight: bold;
}
.main-header > .main-profile::before{
  font-family: 'Glyphicons Halflings';
  content: "\e008";
  margin-right: 5px;
}
.main-container{
  width: 1500px;
  min-height: 200px;
  margin: 75px auto;
}
.main-content > .title{
  color: #044d7f;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content > .title > a{
  text-decoration: none;
  color: #044d7f;
  font-weight: bold;
  padding: 10px 15px;
  max-height: 35px;
  font-size: 14px;
  background-color: #fff;
  transition: .05s ease;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.25);
}
.main-content > .title > a::before{
  content: '\270f';
  font-family: 'Glyphicons Halflings';
  margin-right: 15px;
}
.main-content > .title > a:hover{
  background-color: #044d7f;
  color: #fff;
}
/* - Forum list -*/
.forum-list{
  list-style: none;
}
.forum-list li{
  height: 80px;
  display: flex;
  margin-top: 10px;
}
.forum-list li:first-child{
  margin-top: 0;
}
.forum-emoticon,
.forum-title,
.forum-member{
  background-color: #fff;
  height: 100%;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.25);
}
.forum-emoticon{
  min-width: 80px;
}
.forun-emoticon-icon{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.forum-title{
  width: 100%;
  margin: 0 5px;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 125%;
}
.forum-title > a,
.forum-author > .name{
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #044d7f;
}
.forum-title > a:hover{
  text-decoration: underline;
}
.forum-title > time,
.forum-author > .school{
  color: #ccc;
  font-size: 12px;
}
.forum-member{
  min-width: 315px;
  display: flex;
}
.forum-avatar{
  width: 80px;
  height: 80px;
  object-fit: cover;
  position: relative;
}
.forum-avatar > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.forum-avatar::after{
  content: '';
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 1px 0 0 rgba(0,0,0,.1), inset -1px -1px 0 0 rgba(0,0,0,.1);
  position: absolute;
  top: 0;
  left: 0;
}
.forum-author{
  padding: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 125%;
}
/* - Forum view - */
.forum-view-container{
  width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.forum-view-container > .forum-view-content{
  width: 75%;
  margin-right: 5px;
}
.forum-view-container > .forum-view-profile{
  width: 25%;
  margin-left: 5px;
}
.forum-view-content > .forum-view-main,
.forum-view-content > .forum-content-author,
.forum-view-container > .forum-view-profile,
.forum-content-username,
.forum-view-profile{
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.25);
}
.forum-view-content{
  display: flex;
  flex-direction: column-reverse;
}
.forum-content-author{
  position: relative;
  margin-left: 5px;
}
.forum-content-username{
  margin-bottom: 10px;
  position: relative;
}
.forum-content-username > img{
  position: absolute;
  top: 20px;
  left: 20px;
}
.forum-content-username > section{
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
}
.forum-content-username > section > .title,
.forum-content-username > section > .subtitle,
.forum-view-main > .title,
.forum-view-main > .subtitle,
.forum-view-main > .content{
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
.forum-content-username > section > .title{
  color: #044d7f;
  margin-right: 20px;
}
.forum-content-username > section > .subtitle,
.forum-view-main > .subtitle{
  color: #ccc;
}
.forum-view-main > .title,
.forum-view-main > .subtitle{
  margin-bottom: 20px;
}
.forum-view-main > .content{
  color: #444;
  font-size: 16px;
  line-height: 150%;
}
.forum-view-main > .title{
  color: #044d7f;
  font-size: 30px;
}
.forum-view-main > .subtitle{
  font-size: 12px;
  display: block;
}
.forum-view-profile img{
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25), -1px -1px 0 0 rgba(0,0,0,.25);
  width: 100%;
  height: auto;
}
